<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="config" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" existenceCheck="false">
      <remove statusCode="403" />
      <error statusCode="403" path="/login.php" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>
